# -- qgis-plugin-dev-tools --
# path to qgis-bin/qgis-ltr-bin
QGIS_EXECUTABLE_PATH=/usr/bin/qgis

# debugpy/pydevd to start a debugger on init, library must be installed to the environment
DEBUGGER_LIBRARY=debugpy

# name of the profile that qgis is launched with, otherwise uses default
# DEVELOPMENT_PROFILE_NAME=

# Language QGIS is run with
# QGIS_LOCALE=gsw

# -- Plugin variables --
IS_DEVELOPMENT_MODE=true
